# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.firebase/
.metadata
.pub-cache/
.pub/
/build/
/coverage/
*.err
*.out
/android/.gradle/
/android/.kotlin/
/ios/Flutter/ephemeral/
/useless files/
/build_questify_apk.bat
/deploy_web_hosting.bat
/flutter.bat
/run_questify.bat
/serve_web.js
/WEB_LINK_SETUP.md

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
